.y-toolBar-item{
  width: 50px;
  height: 50px;
  float: left;
  margin-left: 20px;
  border-radius: 5px;

}
.y-toolBar-item >*{
  margin: 5px;
  font-size: 40px;
  text-align: center;
  color: #4de2ff;

}

.y-toolBar-item >*:active{
  color: #5dbb2d;

}

.y-toolBar-item:hover{
  background-color: rgba(232, 238, 239, 0.59);
}



